/* --------------------  *  ----------------------- */

:root {
    --orange: hsl(34, 97%, 64%);
    --veryDarkGray: hsl(220, 2%, 38%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}
h1 {
    text-align: center;
    color: var(--veryDarkGray);
}
h2 {
    color: var(--veryDarkGray);
}
#title {
    margin-top: 20px;
}

/* -------------------- search----------------------- */
.input-wrap{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.input-filter {
    width: 300px;
}
#name-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------- Cards----------------------- */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(117, 62%, 38%); 
    text-decoration: none;
}
.insertCards {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 140px);
    flex-wrap: wrap;
}
.box p {
    color: var(--grayishBlue);
}
.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 15px;  
    background-color: white;
    width: 300px;
}
.orange {
    border-top: 3px solid var(--orange);
}

/* -------------------- Media query ----------------------- */
/* @media (max-width: 750px) {   
    .insertCards {
        display: block;
    } 
    .row-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 80%;     
    }    
} */

/* -------------------- Accordion ----------------------- */
.accordion {
    background-color: white;
    color: rgb(47, 46, 46);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    }
.active, .accordion:hover {
    background-color: rgb(244, 243, 239);
    }
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    }
